*{
    padding: 0;
    margin: 0;
}

header {
    background: black;
    color:white;
    text-align: center;
    padding: 1vw;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    & .container{
        width: 50%;
        background: rgb(255, 205, 250) !important;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        & input{
            width: 95%;
            padding: 1em;
            margin-bottom: 1em;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 5px  rgba(0 0 0 0.5);
            font-family: 1em;
        }

        & button{
            padding: 1em 2em;
            background: blue;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
    }

}

footer{
    background: black;
    color: white;
    text-align: center;
    padding: 1vw;
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}